{% extends 'BlogApp/template.html' %}

{% block content %}

<div >
        <header>
            <h2>Acerca de Mario</h2>
        </header>
        <div>
            <body>Mi nombre es Mario Andrés Bravo, soy estudiante de la Lic. en Administración y Contador Público, aunque estoy entrando de a poco
            al mundo de la programación para poder desenvolverme en esta área de trabajo continuando proximamente con el desarrollo de paginas webs a través de su diseño.
                <body>
        <header>
            <h2>Acerca de Martín</h2>
        </header>
        <div>
            <body>Me llamo Martín Rametta, soy Ingeniero en Sistemas, pero hace mucho tiempo estoy trabajando como Comercial en el rubro autopartista. Después de mucho tiempo, quiero volver al mundo de la programación y actualizarme.
                Tengo a mi hijo trabajando como programador Phyton y me ha motivado a retomar lo dejado hace casi 25 años..
Espero después de tanto tiempo encontrar un lugar para tener proyectos juntos!
            <body> 
        
</div>

{% endblock %}